/* Awal Info Panel Home Box */
.info-panel {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin-top: -55px;
    background-color: white;
    padding: 20px;
}
/* Akhir Info Panel Home Box */

/* Awal Navbar */
.navbar{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
/* Akhir Navbar */

/* Awal About Us */
.about-us h3 {
    font-size: 40px;
    font-weight: 200;
    margin-top: 30px;
}

.about-us h4 {
    font-size: 30px;
    font-weight: 200;
    margin-top: 30px;
}

.about-us h3 span {
    font-weight: 500;
    color: #176b87;
    text-shadow: 2px 2px #000;
}

.about-us h4 span {
    font-weight: 500;
    color: #176b87;
    text-shadow: 2px 2px #000;
}
/* Akhir About Us */

/* Awal Card Body Pelayanan Kami*/
.card {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin: 25px;
}

.card h5 {
    color: #176b87;
    text-shadow: 1px 1px #000;
}

.card-body img {
    width: 30%;
    margin-bottom: 10px;
}
/* Akhir Card Body Pelayanan Kami */

/* Awal Footer */
.footer {
    margin-top: 100px;
    color: white;
    background-color: #232d3f !important;
}

.icon {
    width: 50%;
}

.icon-sosmed {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    border-radius: 5px;
    width: 5%;
}
/* Akhir Footer */

/* Awal Tiket Pilihan */
.tiket {
    border-radius: 10px;
    background-color: #435585;
    padding: 40px;
}

.macam-tiket {
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.klik-cursor {
    cursor: pointer;
}
/* Akhir Tiket Pilihan */

/* Awal Login */
.login{
    margin-top: 100px;
}

.img-fluid{
    width: 100%;
}

.img-fluid-regis{
    margin-left: 60px;
}

.btn-login{
    background-color: #435585;
    color: white;
}

.btn-login:hover{
    background-color: #4CB9E7;
    color: white;
    font-weight: bold;
}

.btn-home{
    background-color: #435585;
    color: white;
}

.btn-home:hover{
    font-weight: bold;
    color: white;
}
/* Akhir Login */

/* Awal Registrasi */
.form-registration{
    margin-top: 100px;
}

.form-registration input {
    border-radius: 0;
    margin-bottom: -1px;
}
/* Akhir Registrasi */

/* Awal Quantity Ticket  */
.counter {
    margin: auto;
    display: flex;
}
.counter input {
    width: 40px;
    margin: 5px;
    border: 0;
    line-height: 15px;
    font-size: 15px;
    text-align: center;
    color: black;
    border-radius: 5px;
}
.counter span {
    display: block;
    font-size: 20px;
    padding: 0 10px;
    cursor: pointer;
    color: black;
    user-select: none;
    border-radius: 10px;
    background-color: white;
}
/* Akhir Quantity Ticket */

@media screen and (max-width: 680px) {
    .info-panel {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        margin-top: -45px;
        background-color: white;
        padding: 20px;
        width: 350px;
    }

    .card h5 {
        color: #176b87;
        text-shadow: 1px 1px #000;
    }

    .card-body img {
        width: 30%;
    }
    
    .img-fluid{
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .img-fluid-regis{
        display: none;
    }
}
